@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #0a2417;
    --background: #f2f2f2;
    --primary: #47bd86;
    --secondary: #8fdbb8;
    --accent: #d8603b;
  }
  .dark {
    --text: #dbf5e8;
    --background: #0d0d0d;
    --primary: #42b881;
    --secondary: #24704c;
    --accent: #c44b27;
  }
}

/* [hidden] {
  display: none;
} */

