@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --text: #0a2417;
    --background: #f2f2f2;
    --primary: #47bd86;
    --secondary: #8fdbb8;
    --accent: #d8603b;
  }
  .dark {
    --text: #dbf5e8;
    --background: #0d0d0d;
    --primary: #42b881;
    --secondary: #24704c;
    --accent: #c44b27;
  }
} */

@layer base {
  :root {
    --text: #05050a;
    --background: #f1f3f9;
    --primary: #0a21b2;
    --secondary: #9ea7dc;
    --accent: #6271d0;
  }
  .dark {
    --text: #f5f5fa;
    --background: #06080e;
    --primary: #4d63f5;
    --secondary: #232c61;
    --accent: #2f3e9d;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
}

/* login and sign up page */

.card-container {
  width: 350px;
  height: 440px;
  background: transparent;
  position: relative;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.circle1 {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #2879f3;
  position: absolute;
  top: 0;
  left: 0;
}

.circle2 {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #f37e10;
  position: absolute;
  right: 0;
  bottom: 0;
}

.log-card {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: absolute;
  width: 300px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  padding: 20px;
}

.heading {
  font-size: 28px;
  font-weight: 800;
}

.para {
  font-size: 14px;
  font-weight: 500;
}

.text {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  color: lightslategray;
}

.input-group {
  margin-top: 10px;
  margin-bottom: 4px;
}

.input {
  box-sizing: border-box;
  margin-bottom: 5px;
  width: 100%;
  border: none;
  padding: 8px 16px;
  background-color: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  font-weight: 600;
  color: #2879f3;
}

.input:hover {
  color: #2879f3;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.password-group {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.checkbox-group {
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.forget-password {
  font-size: 14px;
  font-weight: 500;
  color: #2879f3;
  text-decoration: none;
}

.forget-password:hover {
  text-decoration: underline;
  color: #f37e10;
}

.btn {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #2879f3;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
}

.btn:hover {
  background-color: #0653c7;
}

.no-account {
  font-size: 16px;
  font-weight: 400;
}

.link {
  font-weight: 800;
  color: #2879f3;
}

.link:hover {
  color: #f37e10;
  text-decoration: underline;
}

/* reset pass */

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(24, 20, 20, 0.987);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box a:hover {
  background: #03f40f;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03f40f, 0 0 25px #03f40f, 0 0 50px #03f40f,
    0 0 100px #03f40f;
}

.login-box a span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03f40f);
  animation: btn-anim1 2s linear infinite;
}
