
.heromsg{
  max-width: 30rem;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .account_logd {
    display: none;
  }
  .desktop{
    display: none;
  }
 .herotxt{
  font-size: 25px;
 }
}